h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 700;
    font-size: 80px;
}
.nos{ 
    width: 50%;
}
.table{
    width: 75%;
}




@media screen and (max-width: 540px) {
    h1{
        font-size: 50px ;
        font-weight: 500;
    }
    .nos{ 
        width: 90%;
    }
    .table{
        width: 90%;
    }
    th{
        font-size: 10px;
    }
    td{
        font-size: 14px;
    }

    td .btn{
        --bs-btn-font-size: .7rem;
        --bs-btn-padding-x: 0.65rem;
    --bs-btn-padding-y: 0.275rem;
    }

}